# Piezometer Installation

Group 7

2019-04-23

## Piezometer geometry and water level depth

In [1]:
# Enter distances and lengths from my notebook
length_of_casing = 163
stack_up = 21 # distance form land-surface to top of the casing
medium_port_from_bottom_of_casing = 40
shallow_port_from_bottom_of_casing = 80
water_table_from_top_of_casing = 42

In [2]:
# Compute the required heights
# sampling depth below ground surface
z_shallow = length_of_casing - stack_up - shallow_port_from_bottom_of_casing
z_medium = length_of_casing - stack_up - medium_port_from_bottom_of_casing
z_deep = length_of_casing - stack_up

In [3]:
import pandas as pd

In [4]:
depths = pd.Series(index=['shallow', 'medium', 'deep'],
                   data=[z_shallow, z_medium, z_deep],
                   name='sampling screen depth bgs [cm]')

In [5]:
depths.to_frame()

         sampling screen depth bgs [cm]
shallow                              62
medium                              102
deep                                142

## Electrical conductivity
We have measured electrical conductivity of the water several times.
Here I compute averages so that we can enter a single value into the excel sheet.

In [17]:
# Enter the data
data = {
    'depth': ['deep', 'deep', 'deep', 'deep',
              'medium', 'medium', 'medium', 'medium',
              'shallow', 'shallow', 'shallow', 'shallow'],
    'time': ['10:29', '10:30', '10:31', '10:46',
             '10:35', '10:36', '10:38', '10:48',
            '10:42', '10:43', '10:44', '10:50'],
    'EC [µS]': [1219, 1234, 1247, 1233,
           1958, 1960, 1970, 1990,
           891, 893, 893, 870],
    'T [°C]': [4.8, 4.6, 4.4, 4.7,
         5.3, 5.3, 5.2, 5.2,
         6.6, 6.5, 6.5, 6.2]
}
df = pd.DataFrame.from_dict(data)
df

      depth   time  EC [µS]  T [°C]
0      deep  10:29     1219     4.8
1      deep  10:30     1234     4.6
2      deep  10:31     1247     4.4
3      deep  10:46     1233     4.7
4    medium  10:35     1958     5.3
5    medium  10:36     1960     5.3
6    medium  10:38     1970     5.2
7    medium  10:48     1990     5.2
8   shallow  10:42      891     6.6
9   shallow  10:43      893     6.5
10  shallow  10:44      893     6.5
11  shallow  10:50      870     6.2

In [25]:
# Compute averages
mean_vals = df.groupby('depth').mean()
mean_vals['EC [µS]'] = mean_vals['EC [µS]'].round(0)
mean_vals['T [°C]'] = mean_vals['T [°C]'].round(1)
mean_vals

         EC [µS]  T [°C]
depth
deep      1233.0     4.6
medium    1970.0     5.2
shallow    887.0     6.4